.container-fluid {
     font-family: "oswald";
     padding-top: -150px;
     max-width: 100%;
}
 .card {
     max-width: 100%;
}
 .navbar-nav {
     padding:1.5em;
}
 .nav-brand{
     text-transform: uppercase;
}
 header {
     max-width: 100%;
}
 .card-title {
     text-transform: uppercase;
}
 h3 {
     text-transform: uppercase;
}
 .rounded-circle {
     width: 150px;
}
 .img-top {
     width: 300px;

}
 .card-text {
     background-color: yellow;
}
